@model DEPI6InstructorCRUDMVCWebAPPTask.Models.Department

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="ManagerName"></label>
    <input asp-for="ManagerName" class="form-control" readonly />
</div>