@model DEPI6InstructorCRUDMVCWebAPPTask.Models.Instructor
@{
    ViewData["Title"] = "Details";
}

<h1>Instructor Details</h1>
<div>
    <partial name="PartialViews/DeleteDetailsInstructorPartialView" />
    <a asp-action="Edit" class="btn btn-secondary m-3">Edit</a> |
    <a asp-action="Index" class="btn btn-light m-3">Back To List</a>
</div>
